.title-content {
  text-align: center;
  height: 100%;
  padding: 100px 50px;

  div {
    margin: 20px;
  }

  .title {
    margin-top: 150px;
    font-size: 68px;
    font-weight: bolder;
    color: #e6af2e;
  }

  .subtitle {
    font-size: 35px;
    color: #e0e2db;
  }

  button {
    margin-top: 75px;
    border: none;
    border-radius: 5px;
    padding: 10px 35px;
    font-size: 24px;
    background-color: #e0e2db;
    color: #191716;
  }
}

.presentation {
  padding: 50px;

  .step-title {
    font-size: 35px;
    color: #3d348b;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 30px;
  }

  .step-content {
    margin: 0px 20%;
    color: #191716 !important;
    font-size: 24px;
    // align-items: center;
    // text-align: center;
  }
}

.navigation {
  width: calc(100% - 150px);
  margin-bottom: 50px;
  padding: 20px 75px;
  position: absolute;
  bottom: 0;

  button {
    border: none;
    border-radius: 5px;
    padding: 10px 35px;
    font-size: 16px;
    background-color: #3d348b;
    color: #e0e2db;
  }

  .next {
    float: right;
  }
}

.questions {
  color: #e6af2e;
  text-align: center;

  .image {
    margin-top: 100px;
    filter: invert(62%) sepia(78%) saturate(404%) hue-rotate(4deg) brightness(98%) contrast(93%);
    width: 50%;
  }

  .subtitle {
    font-size: 50px;
    font-weight: bolder;
  }
}

.introduction {
  .snail {
    margin: 30px 0px;
  }
}

.image {
  text-align: center;

  img {
    width: 35%;
  }

  .gitlab {
    width: 200px !important;
  }
}

.challenges {
  margin-left: 50px;

  .green {
    color: green;
  }

  .red {
    color: #6f0028;
  }
}

.playfield {
  margin-top: 30px;
}

.pairProgramming {
  width: 600px !important;
  border-radius: 50px !important;
}

.video-component {
  text-align: center;

  video {
    width: 800px;
  }
}