* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191716;
  font-family: 'Muli', sans-serif;
}

.list {
  margin: 0 50px;

  ul {
    list-style: none;

    li::before {
      content: "\2022";
      color: #3d348b;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
      font-size: 36px;
      vertical-align: middle;
    }
  }
}